<nav class="nav-bar">
    <a routerLink="/interpolation">Interpolation</a>
    <a routerLink="/property">Property Binding</a>
    <a routerLink="/eventBinding">Event Binding</a>
    <a routerLink="/twoWayDataBinding">Two Way Data Binding</a>
    <a routerLink="/template-ref">Template Refernece</a>

    <a routerLink="/if">If</a>
    <a routerLink="/for">For</a>
    <a routerLink="/class">Class Binding</a>
    <a routerLink="/style">Style Binding</a>
    <a routerLink="/pipe">Pipes</a>
    <a routerLink="/getapi">getapi</a>
</nav>
<app-parent></app-parent>
<router-outlet></router-outlet>